@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
.mainCont {
  text-align: center;
  font-size: 7rem;
  line-height: normal;
}
#counter {
  font-size: 12rem;
  font-family: 'Gochi Hand', cursive;
}
@media only screen and (max-width: 700px) {
  .mainCont {
    font-size: 7vw;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #2e2e2e;
    color: #e4e4e4 !important;
  }
}